.telaDeUsuario20 {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-10);
  line-height: normal;
  letter-spacing: normal;
}

.navbar {
  height: 6.125rem;
  width: 22.688rem;
  margin: 0 !important;
  position: absolute;
  top: 45.313rem;
  left: 0.938rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: var(--br-30);
  background-color: var(--color-gray-500);
  justify-content: center;
  z-index: 1;
}
.navbarOptions {
  justify-content: flex-start;
  gap: 1.562rem;
}
.homeButtomIcon {
  height: 1.813rem;
  width: 2rem;
  position: relative;
}
.favoritesButtomIcon {
  height: 1.744rem;
  width: 1.806rem;
  position: relative;
  cursor: pointer;
}
.routesButtom {
  height: 4.188rem;
  width: 4.106rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11) var(--padding-10) var(--padding-11)
    var(--padding-11);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10);
}
.boto {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orange);
  z-index: 0;
}
.imgDistnciaIcon {
  width: 2.788rem;
  z-index: 1;
}
.iaButtomIcon,
.imgDistnciaIcon,
.sombraDeUsuarioMasculino7Icon {
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.iaButtomIcon {
  width: 1.981rem;
  cursor: pointer;
}
.sombraDeUsuarioMasculino7Icon {
  width: 2rem;
}
