
.iniciarRoteiro20 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.iniciarRoteiro20 {
  width: 100%;
  height: 115.25rem;
  position: relative;
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 0 0 7.125rem;
  line-height: normal;
  letter-spacing: normal;
}
.imagemHero {
  align-self: stretch;
  height: 28.813rem;
  padding-left: 1.7rem;
  background-image: url(/CopanH.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}
.voltarIcon {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 8%;
  height: 40%; /*Tá mexendo na altura em onde está a seta!*/
}
.body {
  width: 24.563rem;
  height: 77rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-40) 0 0 var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-40);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-18);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.ttulo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roteiroSugerido {
  margin: 0;
  position: relative;
}
.pontosEParadas {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
}
.botoIniciarRoteiro {
  width: calc(100% - 24px);
  height: 6.25rem;
  margin: 0 !important;
  /* position: absolute;
  top: 106.5rem;
  right: 0.75rem;
  left: 0.75rem; */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 2;
}
.iniciarRoteiro20Ttulo,
.ttulo2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.iniciarRoteiro20Ttulo {
  margin: 0 !important;
  position: absolute;
  top: 20.938rem;
  left: 1.813rem;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-40);
  color: var(--color-mediumpurple);
  font-family: var(--font-poppins);
}
.ttulo2 {
  justify-content: center;
}
.parqueIbirapuera,
.prqIbirapuera {
  margin: 0;
  position: relative;
  display: inline-block;
}
.prqIbirapuera {
  width: 19.625rem;
  height: 3.75rem;
}
.parqueIbirapuera {
  width: 18.5rem;
}
.descrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-12);
  color: var(--color-black);
}
.linaBoBardi {
  position: relative;
}
.avenidaPaulista1578 {
  width: 8.625rem;
  position: relative;
  display: inline-block;
}

.printableArea {
  display: none;
}

.botaoEQrcode {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  gap: 30px;
}

.qrCode {
  display: block;
  z-index: 99;
}

@media print {
  /* REMOVEMOS AS REGRAS DE "body *" E "visibility" DAQUI */

  /* Estas regras SÃO LOCAIS e formatam a área de impressão */
  .printableArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .printImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    
  }
  
  @page {
    margin: 0mm;
  }
}

@media (max-width: 767px) {
  .botoIniciarRoteiro {
    position:fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagemHero { /*Imagem do Hero!*/
    padding: 40px 30px;
    height: 31rem;
  }

  .imagemHero img { /*Imagem do Hero!*/
    width: 35px;
    height: 35px;
  }

  .voltarIcon {
    height: 1%;
  }

  .body {
    padding: 0 30px;
    margin-top: 64px;
    width: 100%;
    height: 0;
  }

  .iniciarRoteiro20 {
    height: 1960px;
  }

  .iniciarRoteiro20Ttulo {
    top: 22rem;
  }

  .ttulo2 h3 {
    font-size: 22px;
  }

  .ttulo2 h1 { 
    font-size: 64px;
    line-height: 1.4;
  }

  .linaBoBardi {
    width: 281px;
    font-size: 14px;
  }

  .avenidaPaulista1578 {
    width: 100%;
    font-size: 14px;
  }

  .prqIbirapuera {
    font-size: 45px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .imagemHero {
    height: 750px;
    align-self: stretch;
    padding: 60px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
  }

  .iniciarRoteiro20 {
    height: auto;
    padding: 0;
  }

  .voltarIcon {
    width: 45px;
    height: 45px;
  }

  .iniciarRoteiro20Ttulo {
    top: 33rem;
    left: 60px;
  }

  .ttulo2 {
    font-size: 80px;
  }

  .ttulo2 h3 {
    font-size: 40px;
  }

  .linaBoBardi {
    font-size: 22px;
    width: auto;
  }

  .avenidaPaulista1578 {
    font-size: 22px;
    width: auto;
  }

  .ttulo {
    font-size: 30px;
  }

  .body {
    width: 100vw;
    height: auto;
    padding: 0px 60px;
    margin-bottom: 16rem;
    margin-top: 150px;
  }

  .pontosECards {
    width: 100%;
  }

  .botoIniciarRoteiro {
    width: 23.188rem;
    height: 6.25rem;
    margin: 0 !important;
    /* position: fixed;
    top: 50rem;
    left: 2rem; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    background-color: var(--color-mediumpurple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }

  .pontosEParadas {
    width: 100%;
  }
}