.botoFazerRoteiro,
.infoMasp20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoMasp20 {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-10);
  line-height: normal;
  letter-spacing: normal;
}
.botoFazerRoteiro {
  position: fixed;
  width: 40%;
  height: 6%;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: var(--br-30);
  background-color: var(--color-gray-600);
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
  color: var(--color-white);
}

.botoFazerRoteiro h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fazerUmRoteiro {
  margin: 0;
  height: 1.875rem;
  width: 16.981rem;
  position: relative;
  display: inline-block;
}

@media (max-width: 767px) {

  .botoFazerRoteiro h3 {
    font-size: 18px;
  }

  .botoFazerRoteiro {
    position: fixed;
    width: 80%;
    height: 70px;
  }
}


@media (min-width: 768px) {

  .botoFazerRoteiro h3 {
    font-size: 24px;
  }

  .botoFazerRoteiro {
    position: fixed;
    width: 60%;
    height: 90px;
    border-radius: 100px;
  }
} 