.header,
.telaDeUsurio {
  display: flex;
  align-items: center;
}
.telaDeUsurio {
  background-color: var(--color-gray-100);
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-24);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.header {
  width: 393px;
  height: 156px;
  background-color: var(--color-whitesmoke);
  padding: var(--padding-60) 25px 0;
  box-sizing: border-box;
  gap: var(--gap-15);
}
.botoDeVoltar {
  height: 41px;
  width: 42px;
  padding: var(--padding-11) var(--padding-14);
  box-sizing: border-box;
}
.ttulo {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.faleConosco {
  margin: 0;
  width: 238px;
  position: relative;
  display: inline-block;
}
.body,
.inputs {
  display: flex;
  flex-direction: column;
}
.body {
  width: 393px;
  align-items: center;
  justify-content: center;
  padding: 75px var(--padding-10) 150px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-14);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.inputs {
  align-items: flex-start;
  padding: 0 0 70px;
  gap: 45px;
}
.mesangem,
.telaDeUsurioTtulo {
  display: flex;
  justify-content: center;
}
.mesangem {
  width: 345px;
  border-radius: var(--br-10);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
}
.telaDeUsurioTtulo {
  align-items: center;
}
.mensagem {
  position: relative;
}
.botoDeSalvar,
.input {
  width: 345px;
  box-sizing: border-box;
}
.input {
  border: 1px solid var(--color-black);
  background-color: transparent;
  height: 230px;
  outline: 0;
  border-radius: var(--br-10);
}
.botoDeSalvar {
  height: 55px;
  padding: var(--padding-10);
}
