.imagemHero,
.iniciarRoteiro20 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.iniciarRoteiro20 {
  width: 100%;
  height: 98.313rem;
  position: relative;
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 0 0 7.125rem;
  line-height: normal;
  letter-spacing: normal;
}
.imagemHero {
  align-self: stretch;
  height: 28.813rem;
  padding: 4.375rem var(--padding-20) 3.125rem;
  background-image: url(/Imagem-Hero1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}
.voltarIcon {
  width: 100%;
  max-height: 100%;
  height: auto;
  cursor: pointer;
}
.body {
  width: 24.563rem;
  height: 59.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-40) 0 0 var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-40);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-18);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.ttulo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roteiroSugerido {
  margin: 0;
  position: relative;
}
.pontosECards {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
}
.botoIniciarRoteiro {
  width: calc(100% - 23px);
  height: 6.25rem;
  margin: 0 !important;
  position: absolute;
  top: 89.625rem;
  right: 0.688rem;
  left: 0.75rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 2;
}
.iniciarRoteiro20Ttulo,
.ttulo2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.iniciarRoteiro20Ttulo {
  margin: 0 !important;
  position: absolute;
  top: 20.938rem;
  left: 1.813rem;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-40);
  color: var(--color-forestgreen);
  font-family: var(--font-poppins);
}
.ttulo2 {
  justify-content: center;
}
.sesc24,
.sesc24De {
  margin: 0;
  position: relative;
  display: inline-block;
}
.sesc24 {
  width: 19.625rem;
  height: 3.75rem;
}
.sesc24De {
  width: 18.5rem;
}
.descrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-12);
  color: var(--color-black);
}
.pauloMendesDa,
.rua24De {
  position: relative;
  display: inline-block;
}
.pauloMendesDa {
  width: 16.563rem;
  white-space: pre-wrap;
}
.rua24De {
  width: 10.938rem;
}
