.imagemHero,
.iniciarRoteiro20 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.iniciarRoteiro20 {
  width: 100%;
  height: 82.938rem;
  position: relative;
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 0 0 7.125rem;
  line-height: normal;
  letter-spacing: normal;
}
.imagemHero {
  align-self: stretch;
  height: 28.813rem;
  padding-left: 1.7rem;
  background-image: url(/Masp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}
.voltarIcon {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 8%;
  height: 40%; /*Tá mexendo na altura em onde está a seta!*/
}


.botoIniciarRoteiro {
  width: 23.188rem;
  height: 6.25rem;
  margin: 0 !important;
  position: absolute;
  top: 73.813rem;
  left: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: var(--color-orange-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.iniciarRotaCom {
  position: relative;
}
.iniciarRoteiro20Ttulo,
.ttulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ttulo {
  margin: 0 !important;
  position: absolute;
  top: 20.938rem;
  left: 1.813rem;
  z-index: 3;
  text-align: left;
  font-size: 4rem;
  color: var(--color-orange-100);
  font-family: var(--font-poppins);
}
.iniciarRoteiro20Ttulo {
  justify-content: center;
}
.masp,
.museuDeArte {
  margin: 0;
  position: relative;
  display: inline-block;
}
.masp {
  width: 11.625rem;
  height: 4.375rem;
}
.museuDeArte {
  width: 18.5rem;
}
.descrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-12);
  color: var(--color-black);
}
.avenidaPaulista1578 {
  width: 8.625rem;
  position: relative;
  display: inline-block;
}

@media (min-width: 1024px) {

  .iniciarRoteiro20 {
    height: 100vh;
    padding: 0;
  }

  .botoIniciarRoteiro {
    width: 40%;
    height: 6%;
    margin: 0 !important;
    position: absolute;
    top: 135rem;
    left: 30%;
  }

  .imagemHero {
    align-self: stretch;
    height: 35rem;
    padding-left: 1.7rem;
    background-image: url(/Masp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
  }

}
