.home20{
  margin-bottom: 30px;
}

.home20 {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-80) 0 8.75rem;
  box-sizing: border-box;
  gap: var(--gap-32);
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.navbar,
.navbarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar {
  width: 85%;
  height: 90px;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  background-color: var(--color-gray-500);
  justify-content: center;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom);
}
.navbarOptions {
  justify-content: flex-start;
  gap: 20px;
}
.casa2Icon {
  width: 1.981rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.favoritesButtomIcon,
.routesButtom {
  height: 1.744rem;
  width: 1.806rem;
  position: relative;
  cursor: pointer;
}
.routesButtom {
  height: 4.188rem;
  width: 4.106rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
/* .boto {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orange-100);
  z-index: -999;
} */
.iaButtomIcon,
.imgDistnciaIcon {
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.imgDistnciaIcon {
  width: 2.788rem;
  z-index: 1;
}
.iaButtomIcon {
  width: 1.981rem;
  cursor: pointer;
}

/* Por padrão, o título é visível (bom para mobile-first) */
.tituloPrincipalMobile1 {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-size: 15px;
  font-family: "Poppins", "Sans-serif";
  font-weight: 600;
  margin-bottom: 22px;
  padding: 0 20px;
}

.tituloPrincipalMobile1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 65%;
  height: 1px;
  background-color: #000000;
}

.tituloPrincipalMobile2 {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-size: 15px;
  font-family: "Poppins", "Sans-serif";
  font-weight: 600;
  margin-bottom: 22px;
  padding: 0 20px;
}

.tituloPrincipalMobile2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 70%;
  height: 1px;
  background-color: #000000;
}

.tituloPrincipalMobile3 {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-size: 15px;
  font-family: "Poppins", "Sans-serif";
  font-weight: 600;
  margin-bottom: 22px;
  padding: 0 20px;
}

.tituloPrincipalMobile3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 80%;
  height: 1px;
  background-color: #000000;
}

@media (min-width: 769px) and (max-width: 3000px) {
  /* .tituloPrincipalMobile1, .tituloPrincipalMobile2, .tituloPrincipalMobile, .tituloPrincipalMobile3{
    display: none;
  } */
  .home20 > *:not(.navbar) {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
  } 
}

@media (min-width: 768px){

  .tituloPrincipalMobile1, .tituloPrincipalMobile2, .tituloPrincipalMobile, .tituloPrincipalMobile3 {
    font-size: 20px;
    width: 80%;
  }

  .home20 {
    margin-bottom: 50px;
  }

  .navbar {
    width: 55%;
    height: 100px;
    border-radius: 100px;
  }

  .navbarOptions{
    gap: 30px;
  }

  .navIcon{
    width: 40px;
    height: 40px;
  }

  /* .routesButtom{
   width: 6rem;
   height: 6rem;
  } */

  .roteiro{
    width: 80px;
    height: 80px;
  }

}

@media (max-width: 767px) {
  .home20 {
    padding-top: 16px;
  }
}


