.infoSesc {
  height: 110.375rem;
  width: 100%;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7.125rem;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-40);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.imagemHero,
.scrollvel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.scrollvel {
  height: 102.625rem;
  margin: 0 !important;
  z-index: 0;
}
.imagemHero {
  height: 28.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  background-image: url(/Imagem-Hero2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.voltarIcon {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin-left: 1.7rem;
  width: fit-content;
  margin-top: 4rem;
}
.body,
.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body {
  position: absolute;
  top: 28.813rem;
  left: 0;
  background-color: var(--color-gray-100);
  /* width: 24.563rem; */
  width: 100%;
  align-items: center;
  padding: 2.812rem 0 0;
  box-sizing: border-box;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--font-size-18);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.infos {
  align-items: flex-start;
  padding: 0 var(--padding-30);
  gap: var(--gap-15);
  width: 100%;
}
.informaes,
.reformaEAmpliaoContainer {
  position: relative;
  display: inline-block;
}
.informaes {
  margin: 0;
  width: 7.688rem;
  height: 1.688rem;
}
.reformaEAmpliaoContainer {
  width: 100%;
  text-align: justify;
  font-size: var(--font-size-15);
}
.eformaEAmpliao {
  white-space: pre-wrap;
}

/* As classes abaixo não são mais necessárias com a sanfona */
/* .botoArtigoCompleto { ... } */
/* .buttonContainer { ... } */
/* .lerArtigoCompleto, .vectorIcon { ... } */

.ttulo {
  position: absolute;
  top: 20.938rem;
  left: 1.813rem;
}
.infoSescTtulo,
.ttulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sesc24,
.sesc24De {
  margin: 0;
  position: relative;
  display: inline-block;
}
.sesc24 {
  width: 10.125rem;
  height: 3.75rem;
}
.sesc24De {
  width: 18.5rem;
}
.descrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-12);
}
.pauloMendesDa,
.rua24De {
  position: relative;
  display: inline-block;
}
.pauloMendesDa {
  width: 17.563rem;
  white-space: pre-wrap;
}
.rua24De {
  width: 13.375rem;
}


/* --- BLOCO DA SANFONA ADICIONADO ABAIXO --- */

.accordionContainer {
  width: 100%;
  padding: 0 30px;
  /* max-width: 20.813rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordionButton {
  background-color: transparent;
  color: black;
  font-weight: 600;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  height: auto;
  padding: 0.8rem 0.2rem;
  font-family: var(--font-poppins);
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordionButton:hover {
  background-color: transparent;
}

.arrowIcon {
  transition: transform 0.3s ease-in-out;
  filter: invert(1);
}

.arrowIconOpen {
  transform: rotate(180deg);
}

.accordionContent {
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-out;
}

.accordionOpen {
  grid-template-rows: 1fr;
}

.accordionText {
  overflow: hidden;
  text-align: justify;
  font-size: 15px;
  color: #000;
}

.letraCapitular {
  font-weight: 600;
  font-size: 1.4em;
  padding-right: 2px;
  line-height: 1;
  float: left;
}

.bold {
  font-weight: 600;
}

.galleryContainer {
  width: 100%;
  max-width: 400px;
  margin: 20px auto; 
  position: relative;
  /* A altura precisa ser definida para o posicionamento vertical dos chevrons e dots */
  height: 650px; /* Mesma altura da imagem para o container envolver */
}

.imageContainer {
  position: absolute; /* Agora posiciona o container da imagem */
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  width: 70%; /* Imagem não ocupa 100% */
  height: 90%; /* Preenche a altura do galleryContainer */
  /* border-radius: 15px; */
  overflow: hidden; /* Importante para o TransformComponent não vazar */
  display: flex; /* Para centralizar o conteúdo do TransformComponent */
  justify-content: center;
  align-items: center;
}

/* Estilos para a imagem dentro do TransformComponent */
.galleryImage {
  width: 100%; /* A imagem preenche o imageContainer */
  height: 100%; /* A imagem preenche o imageContainer */
  display: block;
  object-fit: cover;
  cursor: grab; /* Para indicar que é arrastável (embora desabilitado o pan) */
}

.galleryImage:active {
  cursor: grabbing;
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.2s;
  z-index: 2;
  /* Largura e altura para o chevron ser visível */
  width: 40px; 
  height: 40px;
}

.chevronLeft {
  left: 10px; /* Posiciona à esquerda do galleryContainer */
}

.chevronRight {
  right: 10px; /* Posiciona à direita do galleryContainer */
}

.dotsContainer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* z-index: 2; */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.7);
  cursor: pointer;
  transition: background-color 0.2s;
}

.activeDot {
  background-color: #333;
}

@media (max-width: 767px) {
  .imagemHero {
    padding: 40px 30px;
  }

  .voltarIcon {
    margin: 0;
  }

  .sesc24 {
    font-size: 45px;
    width: 100%;
  }

  .infoSescTtulo h3 {
    font-size: 22px;
  }

  .infoSesc {
    padding: 0;
    height: 0;
  }

  .infos {
    margin-top: 60px;
  }

  .infos p {
    font-size: 15px;
  }

  .body {
    padding-top: 0;
  }

  .galleryContainer {
    margin: 20px 0 140px 0;
  }

  .accordionButton {
    font-size: 16px;
  }
}

@media (min-width: 768px) {

  .infoSesc {
    height: auto;
    padding: 0;
  }

  .imagemHero {
    height: 40rem; /* Aumenta a altura da imagem principal */
    background-image: url(/SESCRESPONSIVO.png);
    padding: 60px 50px;
  }

  .ttulo {
    top: 26rem; /* Reposiciona o título */
    left: 58px;
    max-width: 800px;
  }

  .voltarIcon {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .arrowIcon {
    width: 12px;
    height: 12px;
  }

  .sesc24 {
    font-size: 75px; /* Aumenta a fonte do título */
    width: 80vw;
    line-height: 40px;
  }

  .sesc24De {
    font-size: 40px;
    width: 80vw;
  }

  .pauloMendesDa {
    font-size: 22px;
    width: 80vw;
  }

  .rua24De {
    font-size: 22px;
    width: 80vw;
  }

  .scrollvel {
    height: 92.625rem;
  }

  .body {
    padding: 0px 60px; /* Aumenta o espaçamento lateral */
    margin-top: 220px;
    margin-bottom: 220px;
    height: auto;
    align-items: flex-start;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5%; /* Espaço entre as colunas */
    width: 100%;
    align-items: flex-start;
  }

  
  .accordionContainer {
    padding: 0;
  }

  .infoSanfona {
    flex: 1; /* Faz a coluna ter 50% da largura */
    display: flex;
    flex-direction: column;
    gap: 25px;
  }


  .galleryContainer {
    max-width: 100%;
    height: 50vh; /* Altura da galeria relativa à tela */
    margin-top: 1rem;
  }

  .leftColumn {
    flex: 1; /* Faz a coluna ter 50% da largura */
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .rightColumn {
    flex: 1; /* Faz a coluna ter 50% da largura */
    position: sticky; /* Efeito "grudento" ao rolar a página */
    top: 6rem;
    height: fit-content;
  }

  .infos {
    margin-top: 0; /* Remove a margem extra do mobile */
    gap: 25px;
    padding: 0;
  }
  
  .informaes {
    font-size: 26px; /* Aumenta o subtítulo */
  }

  .reformaEAmpliaoContainer, .accordionText {
    font-size: 20px; /* Aumenta a fonte dos parágrafos */
  }

  .imageContainer {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chevron {
    top: 45%;
    font-size: 20px;
    z-index: 2;
    width: 20px;
    height: 20px;

  }

  .accordionButton img {
    font-size: 80px;
  }

  .accordionButton span {
    font-size: 20px;
  }
}