.paradas,
.ponto1 {
  display: flex;
  flex-direction: column;
}
.paradas {
  align-items: flex-end;
  gap: 3.125rem;
  text-align: left;
  margin-left: 0.8rem;
  font-size: var(--font-size-16);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.ponto1 {
  width: 17.875rem;
  align-items: flex-start;
  gap: var(--gap-10);
}
.ttuloEBoto {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 0 var(--padding-1);
}
.monumentoSBandeiras {
  width: 13.313rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.imagemETexto {
  align-self: stretch;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  gap: var(--gap-5);
  text-align: justify;
  font-size: var(--font-size-12);
}
.bandeiras1Icon {
  align-self: stretch;
  height: 6.5rem;
  position: relative;
  border-radius: var(--br-5) var(--br-5) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.esculturaDeGranito {
  align-self: stretch;
  position: relative;
}
.ponto2 {
  width: 17.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.625rem;
}
.parqueIbirapuera {
  position: relative;
}
.paradasTtuloEBoto {
  align-self: stretch;
  display: flex;
  align-items: left;
  text-align: justify;
  flex-direction: column;
}
.macMuseu {
  flex: 1;
  position: relative;
}
.imagemETexto2 {
  align-self: stretch;
  border-radius: var(--br-5) var(--br-5) 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
  text-align: justify;
  font-size: var(--font-size-12);
}

@media (min-width: 768px) {

  .body {
    padding: 0px 60px; /* Aumenta o espaçamento lateral */
    margin-top: 100px;
    min-height: fit-content;
    margin-bottom: 16rem;
  }
  
  .ttulo,
  .detalhesECards {
    width: 100%;
    max-width: 1400px;
  }

  /* --- MUDANÇA 1: Alinhando o título principal --- */
  .ttulo p{
    font-size: 30px;
  }


  .paradas {
    gap: 5rem;
    width: 100%;
    max-width: none;
    margin-left: 2rem; 
  } 

  .ponto1 p, .ponto2 p, .ponto3 p {
    font-size: 25px;
  }

  .ponto1, .ponto2 {
    flex-direction: row;
    width: 630px;
    height: 269.5px;
    gap: 25px;

  }

   .ponto1 img, .ponto2 img {
    height: auto;
    width: 315px;
    border-radius: 15px;
  }
  
  .texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;
    
  }

  /* --- MUDANÇA 3: Aumentando a fonte dos subtítulos --- */

  .lanchoneteBar24H,
  .espaoRevitalizadoDesde {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
  }

  .bodyRouteDetails {
    width: 0.063rem;
    height: 5.2rem
  }

  .routeDetails {
    width: 2.2rem;
    height: 2.2rem;
  }

  .routeDetails3 {
    height: 19.6rem;
  }
  
  .imagemETexto {
    width: 350px;
  }
  .esculturaDeGranito {
    font-size: 20px;
  }

  .paradasTtuloEBoto {
    font-size: 25px;
  }

  .ponto0 {
    font-size: 25px;
    align-self: self-start;
    width: 100%;
  }

  .paradasTtuloEBoto {
    width: 100%;
  }

  .monumentoSBandeiras {
    width: auto;
  }
}

@media (max-width: 767px) {
  .esculturaDeGranito {
    font-size: 14px;
  }
}