.rota {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.routePath {
  width: 1.438rem;
  height: 1.438rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
}
.rotaRoutePath {
  width: 0.063rem;
  height: 15.375rem;
  position: relative;
  border-right: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
}
.rotaChild {
  width: 1.438rem;
  position: relative;
  height: 1.438rem;
}
.routePath2,
.routePath3,
.routePath4,
.routePath6 {
  width: 0.063rem;
  height: 3.313rem;
  position: relative;
  border-right: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
}
.routePath4,
.routePath6 {
  height: 16.563rem;
}
.routePath6 {
  height: 15.188rem;
}

@media (max-width: 767px) {

  .rotaRoutePath {
    height: 15.6rem;
  }

  .routePath2 {
    height: 3rem;
  }

  .routePath3 {
    height: 16.8rem;
  }

  .routePath6 {
    height: 15.7rem;
  }

}

@media (min-width: 768px) {

  .routePath {
    width: 32.5px;
    height: 32.5px;
  }

  .rotaRoutePath {
    height: 20rem;
  }

  .routePath2 {
    height: 5.1rem;
  }

  .routePath3 {
    height: 19.7rem;
  }

  .routePath6 {
    height: 15.7rem;
  }

}