.cardDeUsurio,
.telaDeUsurio {
  display: flex;
  flex-direction: column;
}
.telaDeUsurio {
  height: 57.688rem;
  width: 100%;
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: 2.187rem 0 var(--padding-100);
  box-sizing: border-box;
  gap: 4.687rem;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-14);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.cardDeUsurio {
  height: 10rem;
}
.header {
  width: 21.563rem;
  border-radius: var(--br-10) var(--br-10) 0 0;
  background-color: var(--color-gray-400);
  z-index: 0;
}
.body,
.nomeEEMail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.douglasRocha {
  position: relative;
  font-size: var(--font-size-16);
}
.douglasrochagmailcom,
.perfil {
  position: relative;
  color: var(--color-gray-300);
  text-align: center;
}
.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10);
  z-index: 2;
  font-size: var(--font-size-40);
  color: var(--color-white);
}
.telaDeUsurioPerfil {
  width: 8rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  height: 8rem;
  z-index: 0;
  margin-bottom: 1rem;
}
.dr {
  margin: 0 !important;
  width: 4rem;
  position: absolute;
  top: 25%;
  left: 24.5%;
  display: inline-block;
  z-index: 1;
}

.telaDeUsurioBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-40);
  text-align: center;
  color: var(--color-red);
}

.histricoDeRoteiros {
  cursor: pointer;
}
.meusDados,
.faleConosco,
.gerenciamentoDeSenha,
.histricoDeRoteiros {
  width: 21.563rem;
  height: 3.375rem;
  padding: var(--padding-10);
  box-sizing: border-box;
  font-size: var(--font-size-16);
}
.botoDeSair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4);
}

.logout11,
.sair {
  position: relative;
  width: 1rem;
  max-height: 100%;
  object-fit: cover;
  font-size: var(--font-size-16);
}
