.container {
  padding: 2rem;
  text-align: center;
}
.botoIniciarRoteiro {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.printableArea {
  display: block;
  max-width: 600px;
  margin: 1rem auto;
  border: 1px dashed #ccc;
}
.printImage {
    max-width: 100%;
}

@media print {
  .noPrint, .noPrint * {
    display: none !important;
  }
  body * {
    visibility: hidden;
  }
  #area-impressao, #area-impressao * {
    visibility: visible;
  }
  #area-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .printImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
  }
  @page {
    margin: 0mm;
  }
}