
.iniciarRoteiro20 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.iniciarRoteiro20 {
  width: 100%;
  height: 115.25rem;
  position: relative;
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 0 0 7.125rem;
  line-height: normal;
  letter-spacing: normal;
}
.imagemHero {
  align-self: stretch;
  height: 28.813rem;
  padding-left: 1.7rem;
  background-image: url(/Imagem-Hero1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}
.voltarIcon {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 8%;
  height: 40%; /*Tá mexendo na altura em onde está a seta!*/
}
.body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-40) 0 0 var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-40);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-18);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.ttulo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roteiroSugerido {
  margin: 0;
  position: relative;
}
.pontosEParadas {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
}
.botoIniciarRoteiro {
  width: 23.188rem;
  height: 6.25rem;
  margin: 0 !important;
  /* position: fixed;
  top: 50rem;
  left: 2rem; */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: var(--color-orange-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.iniciarRoteiro20Ttulo,
.ttulo2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.iniciarRoteiro20Ttulo {
  margin: 0 !important;
  position: absolute;
  top: 33rem;
  left: 60px;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-40);
  color: var(--color-orange-100);
  font-family: var(--font-poppins);
}
.ttulo2 {
  justify-content: center;
}
.parqueIbirapuera,
.prqIbirapuera {
  margin: 0;
  position: relative;
  display: inline-block;
}
.prqIbirapuera {
  width: 19.625rem;
  height: 3.75rem;
}
.parqueIbirapuera {
  width: 18.5rem;
}
.descrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-12);
  color: var(--color-black);
}
.linaBoBardi {
  position: relative;
}
.avenidaPaulista1578 {
  width: 8.625rem;
  position: relative;
  display: inline-block;
}

.printableArea {
  display: none;
}

.botaoEQrcode {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  gap: 30px;
}

.qrCode {
  display: block;
  z-index: 99;
}

@media print {
  /* REMOVEMOS AS REGRAS DE "body *" E "visibility" DAQUI */

  /* Estas regras SÃO LOCAIS e formatam a área de impressão */
  .printableArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  .printImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    
  }
  
  @page {
    margin: 0mm;
  }
}

@media (max-width: 767px) {
  .botoIniciarRoteiro {
    position:fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    font-size: 20px
  }

  .imagemHero { /*Imagem do Hero!*/
    padding: 40px 30px;
  }

  .imagemHero img { /*Imagem do Hero!*/
    width: 35px;
    height: 35px;
  }

  .voltarIcon {
    height: 1%;
  }

  .body {
    padding: 0 30px;
    margin-top: 64px;
    width: 100%;
    height: 0;
  }

  .iniciarRoteiro20 {
    height: 1380px;
  }

  .ttulo2 h3 {
    font-size: 22px;
  }

  .linaBoBardi {
    width: 281px;
  }

  .avenidaPaulista1578 {
    width: 214px;
  }

  .prqIbirapuera {
    font-size: 45px;
    width: 100%;
  }

  .ttulo h3 {
    font-size: 20px;
  }

}

@media (min-width: 768px) {

    .ttulo2 {
    font-size: 22px;
    gap: 3rem;
  }

  .iniciarRoteiro20 {
    position: relative;
    height: auto;
    padding: 0;
  }

  .imagemHero {
    height: 750px; /* AUMENTADO: Altura da imagem de fundo */
    align-self: stretch;
    padding: 60px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza melhor a imagem */
    z-index: 0;
  }

  .ttulo {
    top: 30rem; /* Reposiciona o título */
    left: 58px;
    max-width: 800px;
  }

  .iniciarRoteiro20Ttulo h1 {
    font-size: 80px;
    width: 100%;
  }


  .iniciarRoteiro20Ttulo h3 {
    font-size: 40px;
  }

  .iniciarRotaCom {
    font-size: 22px;
  }

  .avenidaPaulista1578 {
    font-size: 22px;
  }

  .botoIniciarRoteiro p{
    font-size: 22px;
    margin: 33px; /*Por algum motivo, tá mexendo no alinahmento vertical!*/
  }

  /* --- MUDANÇAS: Fontes do Título Aumentadas --- */
  .prqIbirapuera {
    font-size:120px; /* AUMENTADO */
  }

  .parqueIbirapuera {
    font-size: 49px; /* AUMENTADO */
    width: auto; /* Largura automática para caber o texto */
  }

  .descrio {
    font-size: 22px; /* AUMENTADO (equivale a 18px) */
    width: 80%;
  }

  .avenidaPaulista1578 {
    width: auto;
  }

  .voltarIcon {
    width: 60px; /*Botão de voltar página!*/
    height: auto;
  }

  .body {
    padding: 0px 60px;
    margin-top: 150px;
    min-height: fit-content;
    margin-bottom: 16rem;
  }

  .ttulo h3 {
    font-size: 30px;
  }

}